.card {
    margin-top: 350px;
}

input{
    background-color: black;
    color: white;
}

h1{
    color: rgb(206, 231, 233);
}

button{
    background-color: black;
    color: white;
}
button:hover{
    background-color: white;
    transition: 2s;
    color: black;
}
.card{
    background-image: url("https://img.freepik.com/free-vector/dark-gradient-background-with-copy-space_53876-99548.jpg?size=626&ext=jpg");    
    background-size: 100%;
}
