h3 {
    margin-top: 10px;
}
btn .btn-warning{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color: black;
}

button{
    margin-left: 10px;
    margin-top: 20px;
}

h1 {
    margin-top: 100px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white
}