

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" routerLink=""> Photography App</a>
  <div class="container">
      <ng-container *ngIf="accountService.currentUser$ | async as user" >
        <div>
          <input [(ngModel)]="usernameSearch" type="search" placeholder="Search photos" class="form-control"/>
        </div>
        <div>
          <button (click)="photosByUser(usernameSearch)" class="btn btn-outline">
            <fa-icon [icon]="faSearch"></fa-icon>
          </button>
        </div>
        <ol class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link">|</a>
          </li>
            <a class="nav-link active" routerLink="/">Home</a>
            <a class="nav-link" id="mp" (click)="myPhotos()" > My Photos</a>
            <a class="nav-link" id="mp" (click)="myAlbums()" > My Albums </a>
        </ol>
      </ng-container>
      <div>
        <label style="color:white">Add new photos!</label>
        <button class="btn btn-info" (click)="uploadPhotos()">
          <fa-icon [icon]="faPlus" style="position: inherit;"></fa-icon>
        </button>
      </div>

    </div>

    <div class="btn-group" dropdown *ngIf="(accountService.currentUser$| async) as user">
      
        <button id="button-animated" dropdownToggle type="button" class="btn dropdown-toggle"
                aria-controls="dropdown-animated">
          <fa-icon [icon]="faChild"></fa-icon> Welcome {{user.username | titlecase}}
        </button>
        <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-animated">
          <li role="menuitem">
            <a class="dropdown-item" routerLink="/myprofile/{{user.username}}"> Edit-Profile </a>
          </li>

          <div class="dropdown-divider"></div>

          <li role="menuitem">
            <a class="dropdown-item"(click)="logout()" routerLink="/home"> Logout</a>
          </li>
        </ul>
    </div>

    <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
        
        <input id="inputSignIn"
        name="username"
        [(ngModel)]="model.username"
        class="form-control me-2" 
        type="text" 
        placeholder="Username">

        <input id="inputSignIn"
        name="password"
        [(ngModel)]="model.password"
        class="form-control me-2" 
        type="password" 
        placeholder="Password">

        <button class="btn btn-outline-warning" type="submit">
          <fa-icon [icon]="faSign"></fa-icon>
        </button>
    </form>
</nav>