button{
    margin-left: 10px;
    background-color: rgba(255, 187, 0, 0.808);
    border-color: aliceblue;
    color: aliceblue;
    block-size: 40px;
    text-align: center;
}

form input {
    margin-left: 100px;
}

input{
    margin-left: 100px;
}

.dropdown-menu{
    margin-left: 10px;
}

#inputSignIn{
    margin-left: 20px;
}

.nav-link:hover {
    cursor: pointer;
}
