<!-- Navigation -->
<br>
<br>
<br>
  <header class="bg-dark text-white">
     <img src="assets/img/1.jpg">
    <div class="container text-center">
      <h1>Welcome to my photography webpage </h1>
      <p class="lead">Im development this app to learn fullstack web skills!</p>
    </div>
  </header>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>About this page</h2>
          <p>This webpage is development with .net core and angular.js. 
              In other words i made this webpage to learn to use the two languages mentioned up and is a kind of portfolio </p>
        </div>
      </div>
    </div>
  </section>


        <div class="col-lg-8 mx-auto">
          <button class="btn btn-primary">Contact me</button>
        </div>

        
  <!-- Footer -->
  <footer class="mt-20 py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright © NicoApp 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="js/scrolling-nav.js"></script>

